@font-face {
    font-family: 'Raleway';
    src: url('../assets/Raleway-VariableFont_wght.ttf') format('truetype');
}

body {
    font-family: "Raleway";
}

a {
    color: black;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

li a {
    height: 100%;
    width: 100%;
}

.hosting-card:hover,
.popular-hosting-card:hover,
.activities-card:hover {
    background-color: #DEEBFF;
}

/* Header */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    margin: 25px;

}

.header-logo>img {
    height: 70px;
}

.header-menu {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 400px;
    height: 140px;
}

.menu-btn {
    text-align: center;
    font-size: large;
    width: 50%;
    color: black;
    text-decoration: none;
}

.menu-btn:hover {
    color: #0065FC;
}





/* Search */

.search {
    padding: 5%;
}

h1 {
    font-size: 1.5em;
}

.search-text-input {
    border: #F2F2F2 solid 2px;
}

.search-location-dot-icon {
    border-radius: 15px 0 0 15px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
}

.search-submit-btn {
    background-color: #0065FC;
    border: #F2F2F2 solid 3px;
    border-radius: 0 15px 15px 0;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F2F2F2;
    font-weight: bold;
    border: none;
}

.search-form {
    display: flex;
    flex-direction: row;
}

.search-filters {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.search-filters-text {
    font-weight: bold;
}

.search-filters-text,
.search-filters-chip {
    margin: 5px;
}

.search-filters-chip {
    width: fit-content;
    display: flex;
    flex-direction: row;
    border: #F2F2F2 solid 2px;
    border-radius: 30px;
    height: 40px;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}

.search-filters-chip:hover {
    background-color: #DEEBFF;
}

.chip-icon {
    background-color: #DEEBFF;
    border-radius: 40px;
    width: 40px;
    height: 40px;
    color: #0065FC;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chip-text {
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
    display: flex;
    align-items: center;
}





.results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}





/* Hosting */

.hosting {
    display: flex;
    width: 100%;
}

.hosting-results {
    padding: 20px;
    background-color: #F2F2F2;
    border-radius: 15px;
    margin: 20px;
}

.hosting-cards-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.hosting-card {
    width: 300px;
    background-color: white;
    border-radius: 20px;
    margin: 20px;
    padding: 5px;
    box-shadow: #bbb 0 0 5px;
}

.hosting-card-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.hosting-card-info {
    padding: 0 5% 2% 5%;
}

.rating-star-on {
    color: #0065FC;
}

.rating-star-off {
    color: #F2F2F2;
}





/* Popular hosting */

.popular-hosting {
    padding: 20px;
    margin: 20px;
    background-color: #F2F2F2;
    border-radius: 15px;
}

.popular-hosting-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.popular-hosting-cards-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popular-hosting-card {
    width: 350px;
    height: 170px;
    background-color: white;
    border-radius: 20px;
    margin: 20px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    box-shadow: #bbb 0 0 5px;
}

.popular-hosting-card-img {
    width: 50%;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
}

.popular-hosting-card-info {
    padding: 0 5% 0% 5%;
    width: 50%;
    position: relative;
}

.popular-hosting-card-rating {
    position: absolute;
    bottom: 5px;
}





/* Activities */

.activities {
    width: 100%;
    padding: 20px;
}

.activities-cards-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.activities-card {
    width: 300px;
    border-radius: 25px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 20px;
    box-sizing: border-box;
    box-shadow: #bbb 0 0 20px;
    height: min-content;
}

.activities-card-img {
    width: 100%;
    height: 210px;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
}

.activities-card-info {
    margin-left: 20px;

}





/* Footer */

footer {
    display: flex;
    background-color: #F2F2F2;
    padding: 5%;
}

footer ul {
    padding-left: 0px;
    font-weight: normal;
    line-height: 1.5;
}

/* Desktop display */
@media screen and (min-width: 992px) {

    /* Header */

    .menu-btn {
        padding: 10%;
    }

    .menu-btn:hover {
        border-top: 5px solid #0065FC;
    }





    /* Search */

    .search-submit-icon {
        display: none;
    }





    /* Hosting */

    .hosting {
        flex-direction: row;
        justify-content: flex-start;
        min-height: 700px;
    }

    .hosting-results {
        max-width: 1200px;
    }





    /* Popular hosting */

    .popular-hosting {
        width: 550px;
        margin-left: 10px;
    }

    .popular-hosting-cards-list {
        min-height: 700px;
        justify-content: space-around;
    }





    /* Activities */

    .activities-cards-list {
        justify-content: flex-start;
    }

    .activities-card.long-card>.activities-card-img {
        height: 475px;
    }





    /* Footer */

    footer {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

/* Tablet display */
@media screen and (min-width: 768px) and (max-width: 991px) {

    /* Header */

    .menu-btn {
        padding: 10%;
    }

    .menu-btn:hover {
        border-top: 5px solid #0065FC;
    }





    /* Search */

    .search-submit-icon {
        display: none;
    }





    /* Hosting */

    .hosting {
        flex-direction: column-reverse;
    }

    
    .hosting-card {
        margin: 10px;
    }





    /* Popular hosting */

    .popular-hosting {
        margin-top: 10px;
    }

    .popular-hosting-cards-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }





    /* /Activities */

    .activities-cards-list {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }

    .activities-card {
        width: 300px;
        margin: 10px;
    }

    .activities-card.long-card>.activities-card-img {
        height: 475px;
    }





    /* Footer */

    footer {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

/* Mobile display */
@media screen and (max-width: 767px) {

    /* Header */

    header {
        flex-direction: column;
        align-items: center;
        height: 150px;
    }

    .header-menu {
        flex-direction: row;
        width: 100%;
    }

    .menu-btn {
        width: 50%;
        border-bottom: #F2F2F2 solid 5px;
        height: 30px;
    }

    .menu-btn:hover {
        border-bottom: #0065FC solid 5px;
    }





    /* Search */

    .search-submit-text {
        display: none;
    }

    .search-location-dot-icon {
        border-radius: 15px 0 0 15px;
        background-color: #F2F2F2;
    }

    .search-submit-btn {
        position: relative;
        right: 15px;
        width: 45px;
        border-radius: 15px;
        content: "";
    }





    /* Hosting */

    .hosting {
        flex-direction: column-reverse;
    }

    .hosting-results {
        align-items: center;
        justify-content: center;
        margin: 0;
        background-color: white;
    }

    .hosting-cards-list {
        flex-direction: column;
        align-items: center;
    }

    .hosting-card {
        width: 90%;
        margin-left: 0;
        margin-right: 0;
    }

    .hosting-card-img {
        height: 200px;
    }





    /* Popular hosting */

    .popular-hosting {
        margin-top: 10px;
        margin: 0;
    }

    .popular-hosting-cards-list {
        width: 100%;
        flex-direction: column;
    }

    .popular-hosting-cards-list li {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .popular-hosting-card {
        width: 90%;
        height: 200px;
    }

    .popular-hosting-card-img {
        height: 200px;
    }





    /* Activities */

    .activities-cards-list {
        align-items: center;
        flex-direction: column;
    }

    .activities-cards-list > li {
        width: 100%;
    }

    .activities-card {
        width: auto;
    }





    footer {
        flex-direction: column;
        align-items: flex-start;
    }

}