@font-face {
    font-family: 'Raleway';
    src: url('../assets/Raleway-VariableFont_wght.ttf') format('truetype');
}


body {
    font-family: "Raleway";
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* Header */

#header-logo {
    margin: 25px;
}

#header-menu {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 400px;
    height: 140px;
}

.menu-btn {
    text-align: center;
    font-size: large;
    width: 50%;
    color: black;
    text-decoration: none;
}

.menu-btn:hover {
    color: #0065FC;
}





/* Search */

#search {
    padding: 5%;
}

#search-text-input {
    border: #F2F2F2 solid 2px;
}

#search-location-dot-icon {
    border-radius: 15px 0 0 15px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
}

#search-submit-btn {
    background-color: #0065FC;
    border: #F2F2F2 solid 3px;
    border-radius: 0 15px 15px 0;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F2F2F2;
    font-weight: bold;
    border: none;
}

#search-form {
    display: flex;
    flex-direction: row;
}

#search-filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#search-filters-text {
    padding: 10px;
    font-weight: bold;
}

.search-filters-chip {
    margin: 10px;
    width: fit-content;
    display: flex;
    flex-direction: row;
    border: #F2F2F2 solid 2px;
    border-radius: 30px;
    height: 30px;
    align-items: center;
    justify-content: space-between;
}

.search-filters-chip:hover {
    background-color: #DEEBFF;
}

.chip-icon {
    background-color: #DEEBFF;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    color: #0065FC;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chip-text {
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
    display: flex;
    align-items: center;
}





#results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}





/* Hosting */

#hosting {
    display: flex;
}

#hosting-results {
    padding: 20px;
    background-color: #F2F2F2;
    border-radius: 15px;
    margin: 20px;
}

#hosting-cards-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.hosting-card {
    width: 300px;
    background-color: white;
    border-radius: 20px;
    margin: 1%;
    padding: 5px;
}

.hosting-card-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.hosting-card-info {
    padding: 0 5% 2% 5%;
}


.rating-star-on {
    color: #0065FC;
}

.rating-star-off {
    color: #F2F2F2;
}





/* Popular hosting */

#popular-hosting {
    padding: 20px;
    margin: 20px;
    background-color: #F2F2F2;
    border-radius: 15px;
    height: min-content;
}

#popular-hosting-cards-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popular-hosting-card {
    width: 350px;
    height: 150px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    margin: 1%;
    padding: 5px;
    display: flex;
    flex-direction: row;
}

.popular-hosting-card-img {
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
}

.popular-hosting-card-info {
    padding: 0 5% 0% 5%;
    width: 50%;
}





/* Activities */

#activities {
    width: 100%;
    padding: 20px;
}

#activities-cards-list {
    border-radius: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.activities-card {
    width: 300px;
    border-radius: 25px;
    border: #F2F2F2 solid 10px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 5px;
    box-sizing: border-box;
}

.activities-card-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.activities-card-info {
    padding-left: 20px;
}





/* Footer */

footer {
    display: flex;
    background-color: #F2F2F2;
    padding: 5%;
}

ul {
    padding-left: 0px;
    list-style-type: none;
    font-weight: normal;
    line-height: 1.5;
}

/* Desktop display */
@media screen and (min-width: 992px) {

    /* /Header */

    .menu-btn {
        padding: 10%;
    }

    .menu-btn:hover {
        background-color: #F2F2F2;
        border-top: 5px solid #0065FC;
    }





    /* Search */

    #search-submit-icon {
        display: none;
    }





    /* Hosting */

    #hosting {
        flex-direction: row;
        justify-content: space-between;
    }


    #hostings {
        margin-right: 10px;
    }





    /* Popular hosting */

    #popular-hosting {
        width: 30%;
        min-width: 400px;
        margin-left: 10px;
    }





    /* Activities */

    #activities-cards-list {
        overflow: scroll;
        height: 600px;
        flex-wrap: wrap;
        align-content: space-evenly;

    }

    .activities-card:nth-child(3n+1) {
        order: 1;
    }

    .activities-card:nth-child(3n+2) {
        order: 2;
    }

    .activities-card:nth-child(3n) {
        order: 3;
    }

    .activities-card:nth-child(1)>.activities-card-img,
    .activities-card:nth-child(5)>.activities-card-img {
        height: 480px;
    }

    .activities-card::before,
    .activities-card::after {
        flex-basis: 100%;
        width: 0;
        order: 2;
    }





    /* Footer */

    footer {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

/* Tablet display */
@media screen and (min-width: 768px) and (max-width: 992px) {

    /* Search */

    #search-submit-icon {
        display: none;
    }





    /* Hosting */

    #hosting {
        flex-direction: column-reverse;
    }

    #hostings {
        margin-bottom: 10px;
    }





    /* Popular hosting */

    #popular-hosting {
        margin-top: 10px;
    }

    .popular-hosting-card {
        width: 70%;
        height: 200px;
    }

    .hosting-card {
        width: 80%;
    }

    .hosting-card-img {
        height: 300px;
    }





    /* /Activities */

    #activities-cards-list {
        align-items: center;
    }

    .activities-card {
        width: 70%;
    }





    /* Footer */

    footer {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

/* Mobile display */
@media screen and (max-width: 768px) {

    /* Header */

    header {
        flex-direction: column;
        align-items: center;
    }

    #header-menu {
        flex-direction: row;
        width: 100%;
    }

    .menu-btn {
        width: 50%;
        border-bottom: #F2F2F2 solid 5px;
    }

    .menu-btn:hover {
        border-bottom: #0065FC solid 5px;
    }





    /* Search */

    #search-submit-text {
        display: none;
    }

    #search-location-dot-icon {
        border-radius: 15px 0 0 15px;
        background-color: #F2F2F2;
    }

    #search-submit-btn {
        position: relative;
        right: 15px;
        width: 45px;
        border-radius: 15px;
        content: "";
    }





    /* Hosting */

    #hosting-results {
        align-items: center;
        justify-content: center;
        margin: 0;
        background-color: white;
    }

    #hosting {
        flex-direction: column-reverse;
    }

    #hostings {
        margin-bottom: 10px;
    }

    .hosting-card {
        width: 100%;
        border: #F2F2F2 solid 10px;
    }

    .hosting-card-img {
        height: 200px;
    }





    /* Popular hosting */

    #popular-hosting {
        margin-top: 10px;
        margin: 0;
    }

    .popular-hosting-card {
        width: 100%;
        height: 200px;
    }

    .popular-hosting-card-img {
        height: 200px;
    }





    /* Activities */

    .activities-cards-list {
        justify-content: center;
    }

    .activities-card {
        width: 100%;
    }





    footer {
        flex-direction: column;
        align-items: flex-start;
    }

}