@font-face {
    font-family: 'Raleway';
    src: url('../assets/Raleway-VariableFont_wght.ttf') format('truetype');
}


body {
    font-family: "Raleway";
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#logo {
    margin: 25px;
}

#menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 400px;
}

.menu-btn {
    text-align: center;
    box-sizing: border-box;
    font-size: large;
    width: 50%;
}

.menu-btn:hover {
    color: #0065FC;
}

#recherche {
    padding: 5%;
}

#recherche-text-form {
    border: #F2F2F2 solid 2px;
}

#recherche-submit-btn {
    background-color: #0065FC;
    border: #F2F2F2 solid 3px;
    border-radius: 0 15px 15px 0;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F2F2F2;
    font-weight: bold;
    border: none;
}

#saisie {
    display: flex;
    flex-direction: row;
}

#recherche-filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#recherche-filters-text {
    padding: 10px;
    font-weight: bold;
}

.recherche-filters-chip {
    margin: 10px;
    width: fit-content;
    display: flex;
    flex-direction: row;
    border: #F2F2F2 solid 2px;
    border-radius: 30px;
    height: 30px;
    align-items: center;
    justify-content: space-between;
}

.chip-icon {
    background-color: #F2F2F2;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    color: #0065FC;
}

.chip-text {
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
    display: flex;
    align-items: center;
}

#hebergement {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.hebergemement-card {
    width: 300px;
    background-color: white;
    box-shadow: 0px 5px 20px #999;
    border-radius: 20px;
    overflow: hidden;
    margin: 1%;
    padding: 5px;
}

.hebergemement-card-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.hebergement-card-info {
    padding: 0 5% 0% 5%;
}


.rating-star-on {
    color: #0065FC;
}

rating-star-off {
    color: #F2F2F2;
}

.populaires-card {
    width: 300px;
    height: 150px;
    background-color: white;
    box-shadow: 0px 5px 20px #999;
    border-radius: 20px;
    overflow: hidden;
    margin: 1%;
    padding: 5px;
    display: flex;
    flex-direction: row;
}

.populaires-card-img {
    width: 200px;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
}

.populaires-card-info {
    padding: 0 5% 0% 5%;
}

@media screen and (min-width: 992px) {
    .menu-btn {
        padding: 10%;
    }

    .menu-btn:hover {
        background-color: #F2F2F2;
        border-top: 5px solid #0065FC;
    }

    #recherche-submit-icon {
        display: none;
    }

    #recherche-location-dot-icon {
        border-radius: 15px 0 0 15px;
        background-color: #F2F2F2;
    }
}

@media screen and (min-width: 768px) {}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    #menu {
        flex-direction: row;
        width: 100%;
    }

    .menu-btn {
        width: 50%;
        border-bottom: #F2F2F2 solid 5px;
    }

    .menu-btn:hover {
        border-bottom: #0065FC solid 5px;
    }

    #recherche-submit-text {
        display: none;
    }

    #recherche-location-dot-icon {
        border-radius: 15px 0 0 15px;
        background-color: #F2F2F2;
    }

    #recherche-submit-btn {
        position: relative;
        right: 15px;
        width: 45px;
        border-radius: 15px;
    }
}